
#HH {
    text-align: center;
    margin: auto;
    color: #4f772d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

div{
    display: flex;
    justify-content: space-around;
}

form{
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    box-shadow: rgba(150, 157, 180, 0.2)
    0px 10px 28px;
    padding: 30px;
}

label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
   width: auto;
   margin: auto;
   margin-top: 50px;
text-align: center;
  
}

table td,
table th{
    border: 1px solid white;
    padding: 8px; text-align: center;
}

table tr:nth-child(even){
 background-color: #ecf39e;
}

table tr:hover{
    background-color: #ddd;
   }

table th{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #31572c;
    color: white;

} 

*{
    box-sizing: border-box;
}

input[type="text"],input[type="number"],select,textarea{
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 15px;
  }
  
  input[type="submit"]{
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    background-color: #31572c;
    color: white;
  }
  input[type="submit"]:hover{
    background-color: #90a955;
  }






